.backdaniels{
    background-image: url("/public/img/daniel.png");

}

.optioncolor{
    font-weight: bold
}



.inputsize{
    width: 50%;
}

.titleprincipal{
    margin-top: 10%;
}

.class-input{
    margin-left: 10%;
}
