.backdaniels{
    background-image: url("/public/img/daniel.png");

}

.optioncolor{
    font-weight: bold
}


.body-index{

    background-image: linear-gradient(to right, rgb(71, 111, 157) , rgb(57, 60, 72));

}

.card{
    border-radius: 20px;
}

.inputsize{
    width: 50%;
}

.titleprincipal{
    margin-top: 10%;
}

.class-input{
    margin-left: 10%;
}


.title-index{
    text-align: center;
}

.paragrafo-index{
    font-size: 30px;
    text-align: center;
}

.action-index{
    text-align: center;
}

.icon-index{
    width: 5%;
}

.position-footer{

}

.footer1{
    margin-top: 25%;
    text-align: center;
}

.acompanhar-index{
    width: 100vw;
    height: 100vh;
    /*background: #6C7A89;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.form-box{
    width: 300px;
    height: 300px;
    background: #fff;
}

.form-login{
    margin-top: 5%;
    width: 30%;

}

.home-card{
    width: 70%;
}

.form-edit{
    margin-top: 5%;
    width: 70%;
    margin-left: 13%;
}



.button-register{
    display: inline-block;
}
