.backdaniels{
    background-image: url("/public/img/daniel.png");

}

.optioncolor{
    font-weight: bold
}


body{

    background-image: linear-gradient(to right, rgb(71, 111, 157) , rgb(57, 60, 72));

}

.card{
    border-radius: 20px;
}

.inputsize{
    width: 50%;
}

.titleprincipal{
    margin-top: 10%;
}

.class-input{
    margin-left: 10%;
}


.title-index{
    text-align: center;
}

.paragrafo-index{
    font-size: 30px;
    text-align: center;
}

.action-index{
    text-align: center;
}

.icon-index{
    width: 5%;
}

.position-footer{

}

.footer1{
    margin-top: 25%;
    text-align: center;
}
